@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(to right, #ea580c, #eab308);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  body {
    background-color: white;
  }
}

@media (min-width: 769px) {
  body {
    background-color: white;
  }
}
