.input {
    border: 2px solid transparent;
    outline: none;
    border-bottom: 2px solid #3f3f3f;
    caret-color: #3f3f3f;
    background-color: #212121;
    padding: 5px;
    transition: .5s linear;
    font-family: monospace;
    letter-spacing: 1px;
  }
  
  .input:focus {
    border: 2px solid #b63327;
    caret-color: #b63327;
    color: #b63327;
    box-shadow: 4px 4px 10px #070707;
  }
  
  .input:focus::placeholder {
    color: #b63327;
  }

.form-container {
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#b63327, #232323) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}